body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;

    background-color: #525252;
}

.title {
    text-align: center;
    color: red;

    text-decoration-style: dashed;
    text-decoration-line: overline;
    text-decoration-color: blue;
}


/* Form */

.form {
    width: 500px;
    padding: 20px;
    margin: auto;

    background-color: white;
}

.form-group {
    margin-bottom: 20px;
}

.form-input {
    display: block;
    padding: 5px;

    border: 1px solid black;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.form-input:focus {
    outline: none;

    background-color: rgb(158, 158, 255);
}

.form-textarea {
    width: 300px;
    height: 150px;
    padding: 5px;

    border: 1px solid black;
    outline: 1px solid red;
    outline-offset: 5px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

    font: bold italic 15px/1.5 Arial, sans-serif;
}

.form-textarea:focus {
    outline: none;

    background-color: rgb(158, 158, 255);
}


/* Description */

.description {
    width: 700px;
    margin: 20px auto;
    padding: 10px;

    background-color: white;
}

.reduce {
    font-size: 12px;
    font-style: italic;
}

.link {
    display: block;
    color: rgb(104, 104, 190);
    text-decoration: none;
}

.link:visited {
    color: #6900cc;
}

.link:hover {
    text-decoration: underline;
}

.btn {
    padding: 5px 10px;

    background-color: rgb(44, 182, 109);
    border: 1px solid rgb(33, 150, 88);
    color: #fff;
}

.btn:focus {
    outline: none;
}

.btn:hover,
.btn:focus {
    background-color: rgb(33, 150, 88);
    cursor: pointer
}

    .btn:active {
        background-color: rgb(206, 7, 7)
    }

    .btn:disabled {
        background-color: #444;
        color: #626262;
        cursor: not-allowed;
        border: 1px solid #444;
    }

    .form-fieldset {
        margin: 20px;
        padding: 20px;

        border: 1px solid #ccc;
    }

    .form-title {
        margin: 0 0 15px;
    }