body {
    font-size: 20px;
}

.title {
    text-align: center;
    color: red;
}

.table {
    width: 100%;
    border: 1px dashed black;
    border-collapse: collapse;
    table-layout: fixed;
}

.table th {
    padding: 5px 10px 8px 15px;
    text-align: left;
    color: red;
}

.table td {
    padding: 5px 10px;
    border: 1px solid black;
}

.table tfoot td {
    text-align: right;
}


/* Table-2 */

.container {
    width: 500px;
    margin: 0 auto;
    padding: 10px;

    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

.table-2 {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-collapse: collapse;
    
}

.table-2 th {
    padding: 5px 10px 8px 15px;
    
    background-color: #ccc;
}

.table-2 td {
    padding: 5px 10px;
    border: 1px solid #ccc;
    vertical-align: top;
}