body {
    margin: 0;

    font-family: Arial, sans-serif;
    font-size: 15px;
    color: #121212;
}

.container {
    width: 500px;
    padding: 20px;
    margin: 20px auto;

    background-color: #eee;
}

.red {
    color: red;
    font-style: italic;
}

.container h1 {
    color: red;
    text-align: center;
}

.title {
    color: green !important;
}