body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;

    background-color: #ccc;
}

.title {
    text-align: center;
}

/* Container */
.container {
    width: 700px;
    margin: 20px auto;
    padding: 20px;

    background-color: #fff;
    border-radius: 20px;
}
